<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebread</title>
</head>
<body>
    <h1>Voici le header</h1>
    <br>
        <%- body %>
    <br>
    <h2>Voici le footer</h2>
</body>
</html>