<% productions.forEach( production => { %>
    <label for=""><strong>ID: </strong></label><%= production._id  %>
    <label for=""><strong>CODE: </strong></label><%= production.codeProduction %>
    <hr>
 <%})%> 