        <label for="nom">Nom</label>
        <input 
        type="text"
        value="<%= boulanger.nom %>" 
        name="nom">
        <label for="Telephone">Téléphone</label>
        <input 
        type="text"
        value="<%= boulanger.telephone %>"
        name="telephone">
        <label for="adress">Adresse</label>
        <input 
        type="text"
        value="<%= boulanger.adress %>"
        name="adress">

