<% boulangers.forEach( boulanger => { %>
    <label for=""><strong>_id: </strong></label><%= boulanger._id %>
    <label for=""><strong>NOM: </strong></label><%= boulanger.nom %>
    <label for=""><strong>TELEPHONE: </strong></label><%= boulanger.telephone %>
    <label for=""><strong>ADRESSE: </strong></label><%= boulanger.adress %>
    <hr>
 <%})%> 